// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2019 Jagan Teki <jagan@amarulasolutions.com>
 */

#include "rk3399-nanopi4-u-boot.dtsi"
#include "rk3399-sdram-lpddr4-100.dtsi"

/ {
	chosen {
		u-boot,spl-boot-order = "same-as-spl", &spiflash, &sdhci, &sdmmc;
	};

	aliases {
		spi0 = &spi1;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		brightness-levels = <0 255>;
		num-interpolated-steps = <256>;
		default-brightness-level = <200>;
		pwms = <&pwm0 0 25000 0>;
		power-supply = <&vcc3v3_sys>;
	};

	edp_panel: edp-panel {
		compatible = "boe,nv140fhmn49", "lg,lp079qx1-sp0v", "auo,b101aw03", "simple-panel";
		backlight = <&backlight>;
		enable-gpios = <&gpio4 RK_PD5 GPIO_ACTIVE_HIGH>;	// sch: BL_EN GPIO4_D5
		power-supply = <&vcc3v3_s0>;

		port {
			panel_in_edp: endpoint@0 {
				remote-endpoint = <&edp_out_panel>;
			};
		};
	};
};

&spi1 {
	status = "okay";

	spiflash: flash@0 {
		u-boot,dm-pre-reloc;
		compatible = "jedec,spi-nor";
		reg = <0>;
		m25p,fast-read;
		spi-max-frequency = <5000000>;	// 5 MHz
	};
};

// UART4 RX and TX are multiplexed with SPI1 MISO and MOSI
&uart4 {
	status = "disabled";
};

&vdd_center {
	regulator-min-microvolt = <950000>;
	regulator-max-microvolt = <950000>;
};

&edp {
	status = "okay";
	force-hpd;		// force eDP HPD (which is not wired to eDP connector anyway)
	u-boot,dm-pre-reloc;
	rockchip,panel = <&edp_panel>;

	ports {
		edp_out: port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			edp_out_panel: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&panel_in_edp>;
			};
		};
	};
};
